[submodule "examples/separableFilter/external/arguments"]
	path = examples/separableFilter/external/arguments
	url = https://github.com/ichlubna/arguments.git
[submodule "examples/parallelReduction/external/arguments"]
	path = examples/parallelReduction/external/arguments
	url = https://github.com/ichlubna/arguments.git
